/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
  min-width: 1250px;
  background-color: lightblue;
  color: white;
}

.site-footer__copyright {
  display: block;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0 0 0;
  margin: 0;
}

.site-footer__link {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.site-footer__link:hover {
  text-decoration: underline;
}
